# Environment variables
.env

# Build artifacts
TimeTracker.app/

# macOS
.DS_Store

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
xcuserdata/
build/
DerivedData/
.build/
app.log
